<div class="container-fluid">

  <div class="row">

    <div class="col-lg-12">

       <div class="card">

              <div id="shown" class="card-block" style="display:block">

                <div class="pdd-top-25 inline-block pull-right">
                 SOLDE : {{compte?.response.solde}}
                </div>


                <div *ngIf="!loaded">

                <div class="spinner-grow text-primary" role="status">

                    <span class="sr-only">Loading...</span>

                </div>

                <div class="spinner-grow text-secondary" role="status">

                    <span class="sr-only">Loading...</span>

                </div>

                <div class="spinner-grow text-success" role="status">

                    <span class="sr-only">Loading...</span>

                </div>

                <div class="spinner-grow text-danger" role="status">

                    <span class="sr-only">Loading...</span>

                </div>


                </div>

                <br>

                <br>

                 <div class="httpclient-table table-responsive" *ngIf="loaded">
                  Virement Effectué :<hr/>
                  <table class="table table-hover table-responsive-md ">

                 
                    <thead>

                      
                      <tr style="background-color: #e6e6e6;">
                        <th scope="col"  style="border-bottom-color: #2b3170">Date<span style="padding:5px"></span></th>
                        <th scope="col"  style="border-bottom-color: #2b3170">Type de virement<span style="padding:5px"></span></th>
                        <th scope="col"  style="border-bottom-color: #2b3170">Montant<span style="padding:5px"></span></th>
                       
                      </tr>

                     
             
                      </thead>
             
                                 <tbody *ngIf="compte">
             
                                   <tr *ngFor="let virementFrom of compte.response.virementsFrom">
             
                                     <td style="color:black">{{virementFrom?.dateVirement | date}}</td>
                                     <td style="color:black">{{virementFrom?.typeVirement}}</td>
                                     <td style="color:black">{{virementFrom?.montant}}</td>
                                     
                 
                                 </tr>

                            
                                 
                                 
                        </tbody>

                   </table>

                </div>
                <div class="httpclient-table table-responsive" *ngIf="loaded">
                    <hr/>Virement Reçu : <hr/>
                    <table class="table table-hover table-responsive-md ">

                   
                      <thead>
                         <tr style="background-color: #e6e6e6;">
                          <th scope="col"  style="border-bottom-color: #2b3170">Date<span style="padding:5px"></span></th>
                          <th scope="col"  style="border-bottom-color: #2b3170">Type de virement<span style="padding:5px"></span></th>
                          <th scope="col"  style="border-bottom-color: #2b3170">Montant<span style="padding:5px"></span></th>
                          
                        </tr>
                      </thead>
                      <tbody *ngIf="compte">
                        <tr *ngFor="let virementTo of compte.response.virementsTo">
             
                                   <td style="color:black">{{virementTo?.dateVirement | date}}</td>
                                   <td style="color:black">{{virementTo?.typeVirement}}</td>
                                   <td style="color:black">{{virementTo?.montant}}</td>
                                   
                               </tr>
                      

                        </tbody>

                   </table>

                </div>
              </div>
 
        </div>
      
    </div>

  </div>

</div>